In [1]:
import pandas as pd

import missions.W1.M3.etl_project_gdp as etl_basic
import missions.W1.M3.etl_project_gdp_with_sql as etl_sqlite

In [2]:
etl_basic.main()

[2025-01-08-18-06-44], [START] Starting GDP extraction process...
[2025-01-08-18-06-44], [START] Attempting to fetch the webpage: https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29
[2025-01-08-18-06-44], [COMPLET] Successfully fetched the webpage: https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29
[2025-01-08-18-06-44], [START] Starting to parse the webpage: https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29 ...
[2025-01-08-18-06-44], [COMPLET] Succesfuly finished parsing the webpage: https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29
[2025-01-08-18-06-44], [START] Saving data to missions/W1/M3/data/Countries_by_GDP.json ...
[2025-01-08-18-06-44], [COMPLET] Data successfully saved to missions/W1/M3/data/Countries_by_GDP.json.
[2025-01-08-18-06-44], [COMPLET] GDP extraction process completed successfully.

In [3]:
df = pd.read_json('missions/W1/M3/data/Countries_by_GDP.json')
df

              country         gdp    year type
0       United States  30,337,162  2025.0  IMF
1               China  19,534,894  2025.0  IMF
2             Germany   4,921,563  2025.0  IMF
3               Japan   4,389,326  2025.0  IMF
4               India   4,271,922  2025.0  IMF
..                ...         ...     ...  ...
204          Kiribati         311  2024.0  IMF
205             Palau         308  2024.0  IMF
206  Marshall Islands         305  2024.0  IMF
207             Nauru         161  2024.0  IMF
208            Tuvalu          66  2024.0  IMF

[209 rows x 4 columns]

In [67]:
regions = pd.read_json('data/cultural-geo-mapper.json')
merged = list_of_gdp.merge(regions, on='country', how='left')

def top_n_mean(group, n=5):
    # 그룹 내 GDP 상위 n개 선택
    top_n = group.nlargest(n, 'gdp')
    return top_n['gdp'].mean()

merged.groupby('region').apply(top_n_mean, n=5).sort_values(ascending=False)

/var/folders/81/7j06ccbd657bxg70hxvk8d180000gn/T/ipykernel_53814/3560080936.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged.groupby('region').apply(top_n_mean, n=5).sort_values(ascending=False)

region
North America         8622.340
East Asia             5421.570
Western Europe        3244.486
Eastern Europe        1066.600
South Asia            1043.380
Latin America          791.566
Southeast Asia         711.890
Middle East            598.134
Oceania                436.658
Sub-Saharan Africa     197.530
North Africa           182.072
Central Asia           106.386
dtype: float64

In [69]:
import sqlite3
import pandas as pd
import etl_project_gdp_with_sql as etl_sql

def read_from_sqlite(db_name="data/Countries_by_GDP.db"):
    # SQLite DB 연결
    conn = sqlite3.connect(db_name)
    
    # SQL 쿼리로 테이블 읽기
    query = "SELECT * FROM Countries_by_GDP"
    list_of_gdp = pd.read_sql_query(query, conn)
    
    # 연결 닫기
    conn.close()
    
    return list_of_gdp

def analyze_gdp(list_of_gdp):
    # GDP_USD_billion이 100 이상인 데이터 필터링
    filtered_data = list_of_gdp[list_of_gdp['GDP_USD_billion'] >= 100]
    return filtered_data

list_of_gdp = read_from_sqlite()

                      country type  GDP_USD_billion  Year              Region
0               United States  IMF         30337.16  2025       North America
1                       China  IMF         19534.89  2025           East Asia
2                     Germany  IMF          4921.56  2025      Western Europe
3                       Japan  IMF          4389.33  2025           East Asia
4                       India  IMF          4271.92  2025          South Asia
..                        ...  ...              ...   ...                 ...
204                 Greenland  IMF              NaN  None       North America
205                   Eritrea  IMF              NaN  None  Sub-Saharan Africa
206                  Zanzibar  IMF              NaN  None  Sub-Saharan Africa
207              Sint Maarten  IMF              NaN  None       North America
208  Turks and Caicos Islands  IMF              NaN  None       North America

[209 rows x 5 columns]

In [60]:
with sqlite3.connect("data/Countries_by_GDP.db") as conn:
    cursor = conn.cursor()

    query = '''
        SELECT *
        FROM Countries_by_GDP
        WHERE GDP_USD_billion >= 100;
    '''
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.rollback()

    cursor.close()

('United States', 'IMF', 30337.16, '2025', 'North America')
('China', 'IMF', 19534.89, '2025', 'East Asia')
('Germany', 'IMF', 4921.56, '2025', 'Western Europe')
('Japan', 'IMF', 4389.33, '2025', 'East Asia')
('India', 'IMF', 4271.92, '2025', 'South Asia')
('United Kingdom', 'IMF', 3730.26, '2025', 'Western Europe')
('France', 'IMF', 3283.43, '2025', 'Western Europe')
('Italy', 'IMF', 2459.6, '2025', 'Western Europe')
('Canada', 'IMF', 2330.31, '2025', 'North America')
('Brazil', 'IMF', 2307.16, '2025', 'Latin America')
('Russia', 'IMF', 2195.71, '2025', 'Eastern Europe')
('South Korea', 'IMF', 1947.13, '2025', 'East Asia')
('Australia', 'IMF', 1881.14, '2025', 'Oceania')
('Spain', 'IMF', 1827.58, '2025', 'Western Europe')
('Mexico', 'IMF', 1817.82, '2025', 'North America')
('Indonesia', 'IMF', 1492.62, '2025', 'Southeast Asia')
('Turkey', 'IMF', 1455.41, '2025', 'Eastern Europe')
('Netherlands', 'IMF', 1272.96, '2025', 'Western Europe')
('Saudi Arabia', 'IMF', 1136.58, '2025', 'Middle East')
('Switzerland', 'IMF', 999.6, '2025', 'Western Europe')
('Poland', 'IMF', 915.45, '2025', 'Eastern Europe')
('Taiwan', 'IMF', 814.44, '2025', 'East Asia')
('Belgium', 'IMF', 689.36, '2025', 'Western Europe')
('Sweden', 'IMF', 638.78, '2025', 'Western Europe')
('Ireland', 'IMF', 587.22, '2025', 'Western Europe')
('Argentina', 'IMF', 574.2, '2025', 'Latin America')
('United Arab Emirates', 'IMF', 568.57, '2025', 'Middle East')
('Singapore', 'IMF', 561.72, '2025', 'Southeast Asia')
('Austria', 'IMF', 559.22, '2025', 'Western Europe')
('Israel', 'IMF', 550.9, '2025', 'Middle East')
('Thailand', 'IMF', 545.34, '2025', 'Southeast Asia')
('Norway', 'IMF', 503.47, '2025', 'Western Europe')
('Malaysia', 'IMF', 488.25, '2025', 'Southeast Asia')
('Philippines', 'IMF', 471.52, '2025', 'Southeast Asia')
('Vietnam', 'IMF', 468.4, '2025', 'Southeast Asia')
('Iran', 'IMF', 463.75, '2025', 'Middle East')
('Bangladesh', 'IMF', 451.86, '2025', 'South Asia')
('Denmark', 'IMF', 431.23, '2025', 'Western Europe')
('Hong Kong', 'IMF', 422.06, '2025', 'East Asia')
('Colombia', 'IMF', 419.33, '2025', 'Latin America')
('South Africa', 'IMF', 418.05, '2025', 'Sub-Saharan Africa')
('Romania', 'IMF', 406.2, '2025', 'Eastern Europe')
('Egypt', 'IMF', 380.04, '2025', 'North Africa')
('Pakistan', 'IMF', 374.6, '2024', 'South Asia')
('Chile', 'IMF', 362.24, '2025', 'Latin America')
('Czech Republic', 'IMF', 360.23, '2025', 'Eastern Europe')
('Finland', 'IMF', 319.99, '2025', 'Western Europe')
('Portugal', 'IMF', 319.93, '2025', 'Western Europe')
('Kazakhstan', 'IMF', 306.63, '2025', 'Central Asia')
('Peru', 'IMF', 294.9, '2025', 'Latin America')
('Iraq', 'IMF', 270.87, '2025', 'Middle East')
('Greece', 'IMF', 265.17, '2025', 'Western Europe')
('Algeria', 'IMF', 264.27, '2025', 'North Africa')
('New Zealand', 'IMF', 262.92, '2025', 'Oceania')
('Hungary', 'IMF', 245.62, '2025', 'Eastern Europe')
('Qatar', 'IMF', 226.22, '2025', 'Middle East')
('Nigeria', 'IMF', 194.96, '2025', 'Sub-Saharan Africa')
('Ukraine', 'IMF', 189.83, '2025', 'Eastern Europe')
('Morocco', 'IMF', 168.6, '2025', 'North Africa')
('Kuwait', 'IMF', 161.95, '2025', 'Middle East')
('Ethiopia', 'IMF', 145.03, '2024', 'Sub-Saharan Africa')
('Slovakia', 'IMF', 142.62, '2024', 'Eastern Europe')
('Dominican Republic', 'IMF', 126.24, '2024', 'Latin America')
('Ecuador', 'IMF', 121.42, '2024', 'Latin America')
('Puerto Rico', 'IMF', 120.97, '2024', 'Latin America')
('Kenya', 'IMF', 116.32, '2024', 'Sub-Saharan Africa')
('Angola', 'IMF', 113.29, '2024', 'Sub-Saharan Africa')
('Uzbekistan', 'IMF', 112.65, '2024', 'Central Asia')
('Guatemala', 'IMF', 112.37, '2024', 'Latin America')
('Oman', 'IMF', 109.99, '2024', 'Middle East')
('Bulgaria', 'IMF', 108.42, '2024', 'Eastern Europe')
('Venezuela', 'IMF', 106.33, '2024', 'Latin America')

In [61]:
with sqlite3.connect("data/Countries_by_GDP.db") as conn:
    cursor = conn.cursor()

    query = '''
        SELECT
        Region,
        ROUND(AVG(GDP_USD_billion), 2) AS Average_GDP_USD_billion
    FROM (
        SELECT
            Region,
            GDP_USD_billion,
            ROW_NUMBER() OVER (PARTITION BY Region ORDER BY GDP_USD_billion DESC) AS Rank
        FROM
            Countries_by_GDP
    )
    WHERE
        Rank <= 5
    GROUP BY
        Region
    ORDER BY
        Average_GDP_USD_billion DESC;
    '''
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.rollback()

    cursor.close()

('North America', 8622.34)
('East Asia', 5421.57)
('Western Europe', 3244.49)
('Eastern Europe', 1066.6)
('South Asia', 1043.38)
('Latin America', 791.57)
('Southeast Asia', 711.89)
('Middle East', 598.13)
('Oceania', 436.66)
('Sub-Saharan Africa', 197.53)
('North Africa', 182.07)
('Central Asia', 106.39)

In [2]:
from bs4 import BeautifulSoup

html_content = """
<table>
    <tr class="static-row-header abc"><td>Header Row</td></tr>
    <tr><td>Row 1</td></tr>
    <tr><td>Row 2</td></tr>
    <tr class="static-row-header"><td>Another Header Row</td></tr>
    <tr><td>Row 3</td></tr>
</table>
"""

# HTML 파싱
soup = BeautifulSoup(html_content, 'html.parser')

# 특정 클래스 'static-row-header'를 포함하지 않는 <tr> 검색
table = soup.find("table")
rows = table.find_all("tr", class_=lambda x: x is None or "static-row-header" not in x)

# 결과 출력
for row in rows:
    print(row)

<tr class="static-row-header abc"><td>Header Row</td></tr>
<tr><td>Row 1</td></tr>
<tr><td>Row 2</td></tr>
<tr><td>Row 3</td></tr>